.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex: 1 0 auto; */
  /* top: '3.5em'; */
  min-height: 100vh;
  /* calc(100vh - 3.5em); */
}

.content {
  /* flex: 1 0 auto; */
}

.footer {
  background-color: #000;
  color: #fff;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  color: #303030; */
  /* grid-row-start: 2;
  grid-row-end: 3; */
  /* top: 70px; */
  /* margin-top: -50px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  position: relative; */
  /* margin-top: auto;
  flex-shrink: 0;
  position: absolute; */
  /* height: 50px; */
  /* flex-shrink: 0; */
  display: flex;
  flex-flow: row;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.footer h6 {
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.footer-cell-one,
.footer-cell-three {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0;
  /* border: 2px solid rgb(12, 9, 10); */
  /* border-radius: 3px; */
}
.footer-cell-two {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  /* border: 2px solid rgb(12, 9, 10); */
  /* border-radius: 3px; */
}
.copyright-cell-name {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.copyright-cell h5 {
  /* border: 2px solid rgb(12, 9, 10);
  border-radius: 3px; */
  padding: 0 0.25rem;
  margin: 0rem;
}
.footer-cell-three h5 {
  margin: 0.5rem 0;
}

.footer-links {
  /* margin: 18px 0 30px 0;
  padding: 0; */
  /* font-size: 30px; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.footer-links a {
  /* border: 2px solid rgb(12, 9, 10);
  border-radius: 3px; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  color: #11abb0;
  /* width: 500px; */
  /* display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px; */
  /* color: #f06000; */
}

.footer-links li:first-child {
  margin-left: 0;
}

.footer-links i {
  font-size: 30px;
}
.footer-links h6 {
  font-size: 0.75rem;
}

.footer a:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .footer-links a {
    flex-basis: 50%;
  }
  .copyright-cell-name {
    flex-flow: column;
  }
  .copyright-cell h5 {
    margin: 0.5rem 0;
  }
}

@media only screen and (max-width: 427px) {
  .footer {
    flex-flow: column-reverse;
  }
  .footer-links a {
    flex-basis: 0;
  }
  .footer-cell-one {
    /* order: 2; */
  }
  .footer-cell-two {
    /* order: 3; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 2rem 0 3rem;
    /* margin-top: 1.5rem; */
  }
  .copyright-cell {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  .copyright-cell-name {
    flex-flow: row;
    margin: 0.3rem 0;
  }
  .copyright-cell h5,
  .copyright-cell h6 {
    margin: 0;
  }
  .footer-cell-three {
    /* order: 1; */
  }
}
