/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */

/* html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
*/
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex: 1 0 auto; */
  /* top: '3.5em'; */
  min-height: 100vh;
  /* calc(100vh - 3.5em); */
}

.content {
  flex: 1 0 auto;
}

.footer {
  /* position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #000;
  color: #303030; */
  /* grid-row-start: 2;
  grid-row-end: 3; */
  /* top: 70px; */
  /* margin-top: -50px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  position: relative; */
  /* margin-top: auto;
  flex-shrink: 0;
  position: absolute; */
  /* height: 50px; */
  flex-shrink: 0;
}
/* 

footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

footer .copyright {
  margin: 0;
  padding: 0;
}
footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.ie footer .copyright li {
  display: inline;
}
footer .copyright li:before {
  content: '\2022';
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}
footer .copyright li:first-child:before {
  display: none;
}

footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
  color: #f06000;
}

footer .social-links li:first-child {
  margin-left: 0;
} */
