#header-title {
  display: inline;
  margin-right: 1rem;
  /* margin-left: 0.25rem; */
}

@media only screen and (max-width: 768px) {
  #header-title {
    display: block;
    margin-right: 0rem;
    line-height: 0.9;
    margin-bottom: 1rem;
    padding-right: 40px;
  }
  h3#header-title {
    margin-bottom: 0rem;
    padding-right: 66px;
  }
}

/* @media only screen and (min-width: 300px) {
  #header-title {
    padding-right: 60px;
  }
} */

*:focus {
  outline: none;
}
