.Box {
  padding: 0.5em 0.5em 0;
  margin: 0.25em;
  /* background: rgba(51, 153, 204, 0.2); */
  /* transition: background-color 0.3s ease; */
  /* border: 1px solid #33cccc; */
  border: 2px solid rgb(12, 9, 10);
  border-radius: 3px;
  /* width: 33%; */
}
.Box:after {
  content: '';
  display: block;
  margin-top: 0.5em;
  height: 1px;
}
/* .Box-outer-gutters {
  margin-left: -0.25em;
} */
.Box-gutters {
  /* margin-left: -0.25em; */
  margin: 0.2em;
}
/* .Box-gutters .flex-item {
  padding-left: 0.25em;
} */
.Box-react {
  padding-top: 1.2rem;
}
.Box-redux {
  padding-top: 0.8rem;
}
.Box-google {
  padding-top: 2rem;
}
/* .Box-firebase {
  padding-left: 1rem;
} */
.firebase-container {
  height: 75%;
  width: 70%;
  position: relative;
  left: 15%;
}
.middleBox {
  padding: 0.8em 1em 0;
  margin-bottom: 0.5em;
  background: rgba(51, 153, 204, 0.2);
  transition: background-color 0.3s ease;
  border: 1px solid #33cccc;
  border-radius: 3px;
  width: 33.3333%;
}

.textCenter {
  text-align: center;
}
/* Flexbox stuff */
.flex-container {
  /* border: 1px solid #000000; */
  display: flex;
  /* Row is default */
  flex-flow: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* align-content: flex-start; */
}
/* .flex-cols-3 > .flex-item {
  flex: 0 0 100%;
} */
.flex-item-outer-1,
.flex-item-outer-2,
.flex-item-outer-3,
.flex-item-outer-4 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}
.flex-item-one,
.flex-item-two,
.flex-item-three {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
}
.flex-item-bottom {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

@media only screen and (max-width: 768px) {
  .Box-google {
    padding-top: 1.5rem;
  }
  .flex-item-outer-1,
  .flex-item-outer-2 {
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 100%; */
    flex-basis: 45%;
  }
  .flex-item-outer-3,
  .flex-item-outer-4 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }
  .flex-item-one,
  .flex-item-two {
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 25%; */
    flex-basis: 40%;
  }
  .flex-item-three {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  .flex-item-bottom {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}

/* @TODO fix the firebase and mysql label alignment */

@media only screen and (max-width: 427px) {
  .Box-google {
    padding-top: 1rem;
  }
  .firebase-container {
    height: 67.5%;
    width: 55%;
    position: relative;
    left: 22.5%;
    top: 10%;
  }
  .flex-item-outer-1,
  .flex-item-outer-2,
  .flex-item-outer-3,
  .flex-item-outer-4 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }
  /* .flex-item-one,
  .flex-item-two,
  .flex-item-three, */
  .flex-item-one,
  .flex-item-two,
  .flex-item-three {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
  }
  .flex-item-bottom {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
  }
  /* .flex-item-three > .flex-container > .Box {
    width: 25%;
  } */
}

/* @TODO Make the < 428px screens responsive */
